{% extends "layout.html" %} {# Start of title #} {% set pageName = "Home" %} {# End of title #} {% block TITLE_META %}
<title> {{ pageName }} | {{ siteName }} </title>
<meta name="description" content="some page description here">
<meta name="keywords" content="page keywords here">
<link rel="author" name="{{ author }}" />
<link rel="canonical" href="pageUrl" /> {% endblock %}
<!--/END title and meta section-->
<!--START PAGE CSS-->
{% block CSS %} {% endblock %}
<!--/END PAGE CSS-->
{% block content %}

<div class="main-wrapper">
    <div class="app sidebar-fixed header-fixed" id="app">
        {% include "partials/header.html" %}
        <!-- Sidebar goes here  -->
        {% include "partials/sidebar.html" %}
        <article class="content datatable-page">
            <div class="title-block">
                <h1 class="title"> Datatables </h1>
                <p class="title-description"> Server data renderer </p>
            </div>

        </article>
        {% include "partials/footer.html" %}
    </div>
</div>



{% endblock %}
<!--here comes the JS specific for home page-->{% block JS %} {% endblock %}